.header {
  @media screen and (max-width: 768px) {
    min-height: 60px;
  }

  @media screen and (min-width: 769px) and (max-width: 1279px) {
    min-height: 80px;
  }
}

.header__img {
  position: absolute;

  &--mobile {
    top: 0;
    left: 0;

    width: 37%;
  }

  &--tablet {
    display: none;

    top: 0;
    left: 289px;
  }

  &--desktop {
    display: none;

    top: 0;
    right: 0;
  }

  @media screen and (min-width: 769px) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media screen and (min-width: 1280px) {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
