.nav {
  z-index: 1;

  @media screen and (max-width: 768px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &.is-open {
    padding-top: 25px;
    padding-bottom: 25px;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(254, 243, 228, 0.9);
    backdrop-filter: blur(4px);

    overflow-y: scroll;
  }
}

.nav__container {
  @media screen and (max-width: 1279px) {
    position: relative;
  }

  @media screen and (min-width: 769px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 769px) and (max-width: 1279px) {
    justify-content: space-between;

    .nav.is-open & {
      margin-left: auto;
      margin-right: auto;

      display: block;

      width: 769px;
    }
  }

  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
  }
}

.nav__menu-btn {
  padding-top: 16px;
  padding-bottom: 16px;

  position: absolute;
  top: -4px;
  right: 0;

  border: none;
  background-color: inherit;

  @media screen and (min-width: 769px) and (max-width: 1279px) {
    padding-top: 32px;
    padding-bottom: 32px;

    position: static;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }

  &.is-open {
    padding-top: 20px;
    padding-bottom: 20px;

    top: -25px;
    right: 20px;

    @media screen and (min-width: 769px) {
      padding-top: 25px;
      padding-bottom: 25px;

      position: absolute;
      top: -25px;
      right: 32px;
    }
  }
}

.nav__menu-btn:hover,
.nav__menu-btn:focus {
  color: #876655;

  cursor: pointer;
}

.nav__menu-icon {
  width: 30px;
  height: 16px;

  fill: currentColor;

  .nav__menu-btn.is-open & {
    width: 18px;
    height: 18px;
  }
}

.nav__icon {
  &--close {
    display: none;

    .nav__menu-btn.is-open & {
      display: block;
    }
  }

  &--menu {
    display: block;

    .nav__menu-btn.is-open & {
      display: none;
    }
  }
}
