.pages {
  display: none;

  z-index: 1;

  .nav.is-open & {
    margin-top: 40px;

    display: block;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 162px;

    display: flex;
  }
}

.pages__item:not(:first-child) {
  @media screen and (max-width: 768px) {
    margin-top: 45px;
  }

  @media screen and (min-width: 769px) and (max-width: 1279px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 20px;
  }
}

.pages__item {
  text-align: center;
}

.pages__link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;

  color: #2e2520;

  @media screen and (min-width: 1280px) {
    padding-top: 58px;
    padding-bottom: 58px;

    display: block;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.pages__link:hover,
.pages__link:focus {
  color: #876655;
}
